{{ attach_library('compony/header') }}
{% if page.navbar_branding or page.navbar_social or page.primary_menu %}
  {# Top navbar #}
  <header class="h4c-header">
    {% if page.navbar_branding %}
      <div class="h4c-header--branding">
        {{ page.navbar_branding }}
      </div>
    {% endif %}
    {% if page.primary_menu %}
      {{ page.primary_menu }}
    {% endif %}
  </header>
{% endif %}
