/* IE 6-10 */
[hidden] {
  display: none;
}
.h4c-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.h4c-header--branding {
  margin: var(--whitespace);
}


