.form-item--textarea {
  textarea {
    height: 200px;
    transition: all 0.3s ease, height 0s ease;
    transform-origin: 0 0;
    overflow: hidden !important; // this overwrites the js coming from the autosize.min.js library.
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
