{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldeset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}

{%
  set classes = [
    'js-form-wrapper',
    'form-wrapper',
    'fieldset',
    element['#type'] == 'checkboxes' ? 'fieldset--checkboxes',
    element['#type'] == 'radios' ? 'fieldset--radios',
    element['#type'] == 'radios' ? 'fieldset--' ~ element['#name']|clean_class,
  ]
%}

{%
  set legend_span_classes = [
    'fieldset-legend',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}

{{ attach_library('compony/fieldset') }}

{% block before %}{% endblock %}
<fieldset{{ attributes.addClass(classes) }}>
  {% block before_legend %}{% endblock %}

  {#  Always wrap fieldset legends in a SPAN for CSS positioning. #}
  {% if legend.title %}
    <h3 class="legend">
      <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
    </h3>
  {% endif %}

  <div class="fieldset-wrapper">
    <div class="form-item__wrapper">
      {% if errors and not element['#type'] == 'radios' %}
        <div>{{ errors }}</div>
      {% endif %}

      {% if prefix %}
        <span class="field-prefix">{{ prefix }}</span>
      {% endif %}

      {{ children }}

      {% if suffix %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}

      {% if errors and element['#type'] == 'radios' %}
        <div class="form-item--error-message">{{ errors }}</div>
      {% endif %}

      {% if description.content %}
        <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
      {% endif %}

    </div>
  </div>
</fieldset>
