{# Override page.html.twig block 'main' for map #}
{% extends 'page.html.twig' %}

{#
  Required for compony, so templates that are extending can have a way of adding libraries.
#}
{% block before %}
  {% set attributes = attributes.addClass('h4c-map') %}
{% endblock %}

{% block hero %}
{% endblock hero %}
{% block main %}
  <main role="main" class="h4c-content">
    <section class="h4c-main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {{ page.highlighted }}
      {{ page.help }}

      {% block main_content %}
      {# Main content #}
        {{ page.content }}
      {% endblock main_content %}
    </section>
    {% block sidebar_first %}
        {# Sidebar first #}
        {% if page.sidebar_first %}
        {# Set attributes for content. #}
          {% if not page.sidebar_first_attributes %}
          {%
            set page = page|merge({
              'sidebar_first_attributes': create_attribute().addClass([
                'h4c-filter'
              ]),
            })
          %}
          {% endif %}
          <aside{{page.sidebar_first_attributes|without('role')}} role="complimentary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
      {% endblock sidebar_first %}
    {% block sidebar_second %}
        {# Sidebar second #}

        {# Set attributes for content. #}
          {%
            set page = page|merge({
              'sidebar_second_attributes': create_attribute().addClass([
                'h4c-info'
              ]),
            })
          %}

          <aside{{page.sidebar_second_attributes|without('role')}}>
            {{ page.sidebar_second }}
          </aside>
      {% endblock sidebar_second %}

  </main>
{% endblock %}
