{% extends "@bulma/system/page.html.twig" %}

{#
  Required for compony, so templates that are extending can have a way of adding libraries.
#}
{% block before %}{% endblock %}

{#
  Limit the main content column to a max of 10 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
      ]),
      'sidebar_first_attributes': create_attribute().addClass([
      'sidebar-first',
      'column',
      'is-3',
    ]),
    })
  %}
{% endif %}

