{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Region attributes:
 * - page.content_attributes: The attributes for the main content region
 *   wrapper. If not set, defaults will be used.
 * - page.sidebar_first_attributes: The attributes for the sidebar_first region
 *   wrapper. If not set, defaults will be used.
 * - page.sidebar_second_attributes: The attributes for the sidebar_second
 *   region wrapper. If not set, defaults will be used.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{#
  Required for compony, so templates that are extending can have a way of adding libraries.
#}
{% block before %}{% endblock %}

<div class="h4c-grid-container">
  {% block navbar %}
    {% include '@compony/header/header.html.twig' %}
  {% endblock navbar %}

  {% block header %}
    {% block hero %}
      {% if page.header %}
        <section class="h4c-hero">
          {# Header hero region #}
          {{ page.header }}
        </section>
      {% endif %}
    {% endblock hero %}

    {% block tabs %}
      {# Drupal tabs #}
      {% if page.header_tabs %}
        <section class="h4c-tabs">
          {{ page.header_tabs }}
        </section>
      {% endif %}
    {% endblock tabs %}
  {% endblock header %}
  {% block main %}
  {# Main section #}
  <main class="h4c-content">
    <section class="h4c-main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {{ page.highlighted }}
      {{ page.help }}

        {% block main_content %}
        {# Set attributes for content. #}
        {% if not page.content_attributes %}
        {%
          set page = page|merge({
            'content_attributes': create_attribute().addClass([
              'main-content',
            ]),
          })
        %}
        {% endif %}
        {# Main content #}
          {{ page.content }}
        {% endblock main_content %}

    </section>
    {% block sidebar_first %}
        {# Sidebar first #}
        {% if page.sidebar_first %}
        {# Set attributes for content. #}
          {% if not page.sidebar_first_attributes %}
          {%
            set page = page|merge({
              'sidebar_first_attributes': create_attribute().addClass([
                'h4c-filter',
              ]),
            })
          %}
          {% endif %}
          <aside{{page.sidebar_first_attributes|without('role')}} role="complimentary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
        {% endblock sidebar_first %}
        {% block sidebar_second %}
        {# Sidebar second #}
        {# % if page.sidebar_second % #}
          {% if not page.sidebar_second_attributes %}
          {%
            set page = page|merge({
              'sidebar_second_attributes': create_attribute().addClass([
                'h4c-info',
              ]),
            })
          %}
          {% endif %}
          <aside{{page.sidebar_second_attributes|without('role')}} role="complimentary">
            {{ page.sidebar_second }}
          </aside>
        {# % endif % #}
        {% endblock sidebar_second %}
  </main>
  {% endblock main %}
  {% block footer %}
  {% if page.footer %}
    <footer role="contentinfo" class="h4c-footer">
      {{ page.footer }}
    </footer>
  {% endif %}
  {% endblock footer %}
</div>
