{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{#
  Required for compony, so templates that are extending can have a way of adding libraries.
#}
{% block before %}{% endblock %}

{% if content %}
      {{ content }}
{% endif %}
