{% extends "@stable/views/views-view.html.twig" %}
{% set style = view.getStyle().getPluginId() %}
{% set default_row_class = view.style_plugin.options.default_row_class %}
{% set has_view_mode = view.rowPlugin.options['view_mode'] is defined or view.rowPlugin.options['view_modes'] is defined %}
{#
  Only apply to unformatted (default) displays without a row class and with a
  selected view mode.
#}

{% if has_view_mode %}
  {# Add columns classes to the wrapper. #}
  {%
    set classes = [
      'columns',
      'is-multiline',
      'is-centered'
    ]
  %}
  {% set attributes = attributes.addClass(classes) %}
{% endif %}
