.menu--main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: var(--whitespace);
  .toggle {
    color: var(--white);
    order: 2;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    a {
      display: block;
      font-weight: 600;
      border-radius: 3px;
      padding: calc(var(--whitespace) / 2) var(--whitespace);
      color: var(--c-white);
      text-decoration: none;
      transition: all .2s ease;
      margin-right: calc(var(--whitespace) / 5);
      &:hover {
        background: var(--c-bg-primary-dark);
      }
    }
    a.is-active {
      color: var(--c-black);
    }
    .menu-item {
      padding: 0;
      white-space: nowrap;
      width: 100%;
      display: none;
    }
    .menu-item.active {
      display: block;
    }

    /* dropdown submenu */
    .menu-item .menu {
      display: none;
    }
    .menu-item--expanded {
      padding: calc(var(--whitespace)/ 2) var(--whitespace);
      border-radius: 3px;
      list-style: none;
      color: var(--c-white);
      position: relative;
      &:hover {
        background: var(--c-bg-primary-dark);
        .menu {
          display: flex;
        }
      }
      .menu {
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        align-items: stretch;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        font-size: 0.875rem;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        white-space: nowrap; /* to keep the menu-items in one line */
        z-index: 401; /* keep it over h4c-filter */
        background: var(--c-bg-primary);
        a {
          padding: calc(var(--whitespace)/ 2) var(--whitespace);
          margin: 0;
          display: block;
          &:hover {
            background: var(--c-bg-primary-dark);
          }
        }
      }
    }
  }
  .menu > li {
    flex-grow: 1;
    margin-left: auto;
    flex-basis: calc((45rem - 100%) * 999);
  }
  /*.menu > li:nth-last-child(n+5),
  .menu > li:nth-last-child(n+5) ~ * {
    flex-basis: 100%;
  }*/
  .contextual {
    margin-right: -1.5rem;
  }
}

@media all and (min-width: var(--bp-tablet)) {
  .menu {
    justify-content: center;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
}

@media all and (min-width: var(--bp-desktop)) {
  .menu-item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
}
