{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}

{% set wrapper_attributes = create_attribute() %}

{%
  set wrapper_classes = [
    'form-item__label',
    variation ? 'form-item__label--' ~ variation,
    title_display == 'invisible' ? 'form-item__label--visually-hidden',
    required ? 'is-required',
  ]
%}

{%
  set label_classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}

{{ attach_library('compony/form-item__label') }}

{% if title is not empty or required -%}
  <div {{ wrapper_attributes.addClass(wrapper_classes) }}>
    <label{{ attributes.addClass(label_classes) }}>
      {% if variation == 'default' %}
        <span class="label-helper"></span>
      {% endif %}

      <span class="label-text">{{ title }}</span>

      {% if variation == 'switcher' %}
        <span class="switcher-helper"></span>
      {% endif %}
    </label>
  </div>
{%- endif %}
