@import "sass-essentials";

$bp-s: 500px;
$bp-m: 800px;
.form-radios {
  .form-item {
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  ~ .form-item__label {
    margin-bottom: 0;
    label {
      position: relative;
      min-height: 20px;
      padding-left: 32px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      font-weight: normal;
      cursor: pointer;
    }
    .label-text {
      flex: 0 0 auto;
      margin: auto 0;
      position: relative;
      top: -1px;
      font-size: 21px;
      line-height: 20px;
      font-weight: normal;
      @media(min-width: $bp-s) {
        padding-right: 30px;
      }
      @media(min-width: $bp-m) {
        padding-right: 70px;
      }
    }
    .label-helper {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #D8D8D8;
      border-color: #D8D8D8;
      margin-right: 10px;
      transition: all 0.2s ease;
      background-size: 80%;
      background-position: top right 2px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #FFF;
      border-radius: 50%;
      &:after {
        content: '';
        position: absolute;
        background: #666;
        transition: all 0.2s ease;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: scale(0);
        border-radius: 50%;
        border: 3px solid #FFF;
        box-sizing: border-box;
      }
    }
  }
  &:hover ~ .form-item__label .label-helper,
  &:focus ~ .form-item__label .label-helper {
    border-color: #BBB;
  }
  &:checked ~ .form-item__label .label-helper:after {
    transform: scale(1);
  }
  &:disabled ~ .form-item__label .label-helper {
    background-color: #CCC;
    border-color: #D8D8D8;
  }
  &:disabled:checked ~ .form-item__label .label-helper {
    opacity: 0.6;
  }
}
