{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}

{{ attach_library('compony/form-item--radiobuttons') }}
<div{{ attributes.addClass('form-radios') }}>{{ children }}</div>
