@import "sass-essentials";

.form-item {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }

  // Nexted form-items shouldn't have margin-bottom.
  .form-item {
    margin-bottom: 0;
  }

  // this class is only used for now for prefixes and suffixes
  .input__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    > * {
      flex: 1 1 auto;
    }
    .field-prefix,
    .field-suffix {
      line-height: 17px;
      font-size: 21px;
    }

    .field-prefix {
      margin-right: 8px;
    }

    .field-suffix {
      margin-left: 8px;
    }
  }
}
