// Only HTML-tags should be styled here.

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #000;
  font-family: var(--font-size)/calc(var(--font-size * 1.5)) var(--font-primary);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Inline image caption.
figcaption {
  font-style: italic;
  max-width: 650px;
  font-size: 0.875rem;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

// Titles
//
// Markup: titles.twig
//
// Style guide: Elements.element.titles

h1, .h1 {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 3.1rem;
}

h2, .h2 {
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 2.2rem;
}
h3, .h3 {
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 2rem;
}

h4, .h4 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 1.4rem;
}

p {
  margin: 0 0 1rem;
  width: 100%;
  font-size: 1rem;
}

// Cancel out misusage of br-tags
br + br,
ul + br {
  display: none;
}

// Links
//
// Markup: links.twig
//
// Style guide: Elements.element.links

a,
.link {
  color: #000;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }
  &:active {
    color: #444;
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted;
  }
}
