/* Layout CSS for real legacy browsers (<IE11)
body {
  text-align: center;
}
.h4c-grid-container {
  display: inline-block;
}
.h4c-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}*/

/* Layout CSS for legacy browsers (IE11) */
@supports (display:flex) {
  .h4c-grid-container {

  }

  .h4c-content {

  }
}

/*@supports (display:grid) {*/
  /* CSS Grid Base Layout */
  body {
    padding: 0!important; /* override toolbar JS */
    min-height: 100%; /* provides sticky footer*/
    font-size: var(--font-size);
  }
  html, body { height: 100%; margin: 0; }

  /*.h4c-grid-container * {
   border: 0px solid red;
   position: relative;
  }

  .h4c-grid-container *:after {
   content:attr(class);
   position: absolute;
   top: 0;
   left: 0;
  }*/

  .h4c-grid-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* for IE 10+ */
    display: -ms-grid;
    -ms-grid-columns: 250px auto 1fr;
    -ms-grid-rows: -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    -ms-grid-rows: min-content min-content min-content auto min-content;
    /* End IE 10+ */
    display: grid;
    grid-template-columns: 250px auto 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    grid-template-rows: min-content min-content min-content auto min-content;
        grid-template-areas:
      "h4c-header h4c-header h4c-header"
      "h4c-hero h4c-hero h4c-hero"
      "h4c-tabs h4c-tabs h4c-tabs"
      "h4c-content h4c-content h4c-content"
      "h4c-footer h4c-footer h4c-footer";
    width: 100vw;
    min-height: 100vh;
  }
  .toolbar-horizontal .h4c-grid-container {
    -ms-grid-rows: minmax(-webkit-min-content, 79px) -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    -ms-grid-rows: minmax(min-content, 79px) min-content min-content min-content auto min-content;
    grid-template-rows: minmax(-webkit-min-content, 79px) -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    grid-template-rows: minmax(min-content, 79px) min-content min-content min-content auto min-content;
        grid-template-areas:
      "h4c-toolbar h4c-toolbar h4c-toolbar"
      "h4c-header h4c-header h4c-header"
      "h4c-hero h4c-hero h4c-hero"
      "h4c-tabs h4c-tabs h4c-tabs"
      "h4c-content h4c-content h4c-content"
      "h4c-footer h4c-footer h4c-footer";
  }
  .toolbar-vertical .h4c-grid-container {
    -ms-grid-rows: minmax(-webkit-min-content, 39px) -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    -ms-grid-rows: minmax(min-content, 39px) min-content min-content min-content auto min-content;
    grid-template-rows: minmax(-webkit-min-content, 39px) -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
    grid-template-rows: minmax(min-content, 39px) min-content min-content min-content auto min-content;
        grid-template-areas:
      "h4c-toolbar h4c-toolbar h4c-toolbar"
      "h4c-header h4c-header h4c-header"
      "h4c-hero h4c-hero h4c-hero"
      "h4c-tabs h4c-tabs h4c-tabs"
      "h4c-content h4c-content h4c-content"
      "h4c-footer h4c-footer h4c-footer";
  }

  .h4c-hero {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h4c-hero;
  }
  .h4c-hero .video-embed-field-responsive-video {
    height: 80vh;
  }
  .h4c-tabs {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h4c-tabs;
    margin: 0;
  }

  .h4c-content {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*display: flex;*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--whitespace) minmax(250px, 300px) var(--whitespace) auto var(--whitespace) minmax(250px, 300px) var(--whitespace) 1fr;
    grid-template-columns: 1fr minmax(250px, 300px) auto minmax(250px, 300px) 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: ". h4c-info h4c-main h4c-filter .";

    grid-area: h4c-content;
    grid-gap: var(--whitespace);
    overflow-y: auto;
  }
  .path-map .h4c-content {
    -ms-grid-columns: minmax(250px, 300px) var(--whitespace) auto var(--whitespace) minmax(250px, 300px);
    grid-template-columns: minmax(250px, 300px) auto minmax(250px, 300px);
        grid-template-areas: "h4c-info h4c-main h4c-filter";
    overflow: hidden;
  }
  .h4c-content > * {
    min-width: 0;
  }

  .h4c-info {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: h4c-info;

    min-width: 250px;
    max-width: 300px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; /* default value */
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .path-map .h4c-content > .h4c-info {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .h4c-main {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: h4c-main;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: var(--whitespace) 0;
    min-width: var(--measure);
  }

  .path-map .h4c-content > .h4c-main {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .path-map .h4c-main {
    grid-column: 1/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 0;
  }

  .h4c-filter {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: h4c-filter;
    min-width: 250px;
    max-width: 300px;
    padding:  var(--whitespace);
    -ms-flex-preferred-size: auto;
        flex-basis: auto; /* default value */
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    z-index: 400;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  /* stickyfill clearfix, remove when removing IE11 support */
  .h4c-filter:before,
  .h4c-filter:after,
  .h4c-popup-outer:before,
  .h4c-popup-outer:after,
  .block-contact-block:before,
  .block-contact-block:after {
    content: '';
    display: table;
  }

  .path-map .h4c-content > .h4c-filter {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .toolbar {
    grid-area: h4c-toolbar;
    background: #000;
    color: #fff;
    position: static;
    z-index: 500000;
    background: #000;
  }

  .h4c-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h4c-header;
    background: var(--c-bg-primary);
    z-index: 500;
  }

  .h4c-footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h4c-footer;
    background: var(--c-bg-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .primary-footer {
    position: static !important;
  }

  /* overriding enzian + bulma + shit */
  body.toolbar-horizontal.toolbar-fixed .leaflet-fullscreen #leaflet-map-view-h4c-map-map,
  #leaflet-map-view-h4c-map-map {
    height: 100vh !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .path-map .h4c-main {
    padding: 0;
  }
  /* other stuff that should be moved to its place later */
  /* fix edit tabs to top of node edit form */
  #block-contact {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem !important;
    background: #fff;
    z-index: 100;
  }
