//=======================================================
// Variables
//=======================================================

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

$navbar: 4.25rem; /* 68px */
$navbar-mobile: 3rem; /* 48px */
$footer: 2.25rem; /* 36px */
$toolbar: 2.4375rem; /* 39px */
$toolbar-tray: 4.9375rem; /* 79px */

/* CSS custom properties as better variables */
:root {
  /* generic whitespace measure for paddings and margins */
  --whitespace: 1rem;
  /* colors */
  --c-primary: #1c8285;
  --c-bg-primary: #1c8286;
  --c-primary-dark: #186e70;
  --c-bg-primary-dark: #186e71;
  --c-white: #fff;
  --c-black: #222;

  /* greys */
  --c-grey-dark: #ccc;
  --c-grey: #e3e3e3;
  --c-grey-light: #ededed;
  --c-grey-lighter: #fcfcfc;

  // Greys
  --c-grey-dark: #ccc;
  --c-grey: #e3e3e3;
  //--c-grey-light: #ededed;
  //--c-grey-lighter: #fcfcfc;

  // Topics / categories
  --c-terms-topic: var(--c-primary);
  --c-terms-sustainability: var(--c-primary);
  --c-terms-business-type: var(--c-primary-dark);

  /* base font size */
  --font-size: 1rem;
  --font-primary: 'lato--regular', 'Titillium Web', sans-serif;
  --weight-semibold: 600;

  // Responsiveness

  // New Breakpoint
  --bp-mobile: 500px !default;
  // 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
  --bp-tablet: 769px !default;
  // 960px container + 4rem
  --bp-desktop: 1025px !default;
  // 1344px container + 4rem
  --bp-fullhd: 1344px !default;
}
