//
// Naming convention for color-variables is:
// $c-name-of-color--variation"
//
// $c-gray: #999;
// $c-gray--dark: #4A4A4A;
// $c-gray--light: #EEE;
//
// $c-blue: #0086C9;
// $c-orange: #EE7F00;
// $c-red: #b33630;
// $c-white: #FFF;
// $c-yellow: #fff6bf;
// $c-green: #e6efc2;

// Primary
:root {
  --color-primary: #1c8285;
  --color-primary-dark: #186e70;
  --color-bg-primary: #1c8286;
  --color-bg-primary-dark: #186e71;
  --primary: var(--color-primary);
  --color-white: #ffffff;
  --color-black: #222222;

  // Greys
  --color-grey-dark: #ccc;
  --color-grey: #e3e3e3;
  --color-grey-light: #ededed;
  --color-grey-lighter: #fcfcfc;

  // Topics / categories
  --color-terms-topic: var(--color-primary);
  --color-terms-sustainability: var(--color-primary);
  --color-terms-business-type: var(--color-primary-dark);
}


// Primary
$color-primary: #1c8285;
$color-primary-dark: #186e70;
$color-bg-primary: #1c8286;
$color-bg-primary-dark: #186e71;
$primary: $color-primary;
$color-white: #ffffff;
$color-black: #222222;

// Greys
$color-grey-dark: #ccc;
$color-grey: #e3e3e3;
$color-grey-light: #ededed;
$color-grey-lighter: #fcfcfc;

// Topics / categories
$color-terms-topic: $color-primary;
$color-terms-sustainability: $color-primary;
$color-terms-business-type: $color-primary-dark;

.is-grey-light {
  background-color: $color-grey-light;
}
