{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 */
#}
{{ attach_library('compony/form-item--select') }}

<div class="select-style">
  {% spaceless %}
    <select{{ attributes }}>
      {% for option in options %}
        {% if option.type == 'optgroup' %}
          <optgroup label="{{ option.label }}">
            {% for sub_option in option.options %}
              <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
            {% endfor %}
          </optgroup>
        {% elseif option.type == 'option' %}
          <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endspaceless %}

  <div class="icon">
    <svg aria-hidden="true" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L0 0h12z" fill="#FFF" fill-rule="evenodd"/></svg>
  </div>
</div>
