{% extends "@octavia/tags/tags.html.twig" %}
{% set attributes = attributes.addClass('product-qualities') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['product-quality', 'h4c-term']) %}
