{% extends "@octavia/tags/tags.html.twig" %}
{% set attributes = attributes.addClass('topics') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['topic', 'h4c-term']) %}
