{% extends "@octavia/tags/tags.html.twig" %}
{% set attributes = attributes.addClass('sustainability') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['sustainability', 'h4c-term']) %}
