{% extends "@octavia/tags/tags.html.twig" %}
{% set attributes = attributes.addClass('event-types') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['event-type', 'h4c-term']) %}
