{% extends "@octavia/tags/tags.html.twig" %}
{% set attributes = attributes.addClass('article-types') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['article-type', 'h4c-term']) %}
