{% extends "@bulma/field/field.html.twig" %}
{% set attributes = attributes.addClass('organisations') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['organisation']) %}