{% extends "@bulma/field/field.html.twig" %}
{% set attributes = attributes.addClass('product-sellers') %}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(['product-seller']) %}