/* Node Forms */

/*
 * Make Make enzian usable for node edit forms
*/

.node-form {

  /* Mark required fields */
  .form-required::after {
    content: '*';
    color: red;
  }
  /* Fit border to serch files button */
  input[type="file"] {
    height: auto;
  }
  /* Show some fields in vertical order */
  .field--name-field-location-reference .panel-block,
  #edit-field-location-geofield-0-value .panel-block,
  #edit-field-event-date-0 .panel-block {
    display: block;
  }
  /* Show date and time horizontally if two fields are present */
  #edit-field-event-date-0-value,
  #edit-field-event-date-0-end-value {
    display: flex;
  }
  /* Without this users who cannot select a text format see a smaller width paragraphs table */
  #edit-field-body-paragraph-wrapper table {
    width: 100%;
  }
  /* Hide toggle weight for anonymos users */
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .user-logged-in .tabledrag-toggle-weight-wrapper {
    display: block;
  }

  /* Highlight active and focused anchor link */
  a:active,
  a:focus {
    color: #1c8286;
  }

  /* Use #block-contact for fixed navbar on organisation node form line for campaign on line 1502, rename into more generic after testing with crowdinvest */
  #block-contact.fixed {
    position: fixed;
    max-height: calc(100vh - 70.8167px) !important;
    overflow-y: auto;
    width: 100%;
    top: 70.8167px; /* Overriden with actual header height by fixed-elements.js */
    left: 0;
    z-index: 500;
    background-color:  var(--c-white);
  }

  /* Display edit actions sticky */
  #edit-actions,
  .node-preview-container.container-inline.field {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 36px;
    background-color: #1c8286;
    border-top: 1px solid #DBDBDB;
    text-align: center;
    z-index: 503;
  }

  /* Keep top bottom padding (important for anchor calculation!) but remove side padding on mobile */
  .box-like {
    padding: 1.25rem 0;
  }
  .box-like:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* Replicate .box style, yes some rehkitze just died, psssst.. */
  @media only screen and (min-width: 768px) {
    .box-like {
      border-radius: 5px;
      -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      color: #4a4a4a;
      display: block;
      padding: 1.25rem;
      background-color: #fcfcfc;
    }
    .box-like:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  /* Avoid flicker from fixed class, padding = height of tabs bar */
  #block-contact.fixed + * {
    padding-top: 47px;
  }

  @media only screen and (min-width: 1023px) {
    table[id^="field-body-paragraph-values"] + div {
      display: flex;
    }
  }
  /* Limit text input fields to not occupy 100% width */
  input.input {
    max-width: 600px;
  }
}

/* Show tabledrag handle completely */
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}

/* Make long button lists break line */
.h4c-button-list {
  display: flex;
  flex-flow: wrap;
}

.h4c-button-list .control {
  margin: .2rem;
}

/* Some settings if the drupal toolbar ist open */
/* Avoid page content being pushed out of viewport horizontally, not only forms! */
.toolbar-tray-open.toolbar-vertical main,
.toolbar-tray-open.toolbar-vertical .main-content {
  width: 100%;
}
/* Move form navigation and edit actions next to toolbar */
.toolbar-tray-open.toolbar-vertical .node-form #block-contact.fixed,
.toolbar-tray-open.toolbar-vertical .node-form #edit-actions {
  left: 240px;
}
/* Show Media Browser on top of everything */
.ui-dialog {
  z-index: 1002 !important;
}

/* Let's display our SumoSelect Textformat overflow its container
** https://gitlab.com/geeks4change/hubs4change/enzian/issues/215
*/
.filter-wrapper {
  overflow: visible;
}
