.js-views-accodion-group-header {
  margin: 1rem 0 !important;
}

/* Hide navbar on crowdinvest campaign pages in order to fixate it with JS */
.page-node-type-h4c-campaign nav.navbar {
  position: relative;
  display: none;
}
.page-node-type-h4c-campaign nav.navbar.h4c-fixed {
  position: fixed;
  display: block;
}
/* End navbar JS */

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background:  var(--c-bg-primary-dark);
  border:  var(--c-bg-primary-dark);
}

h2.eva {
  margin: 1rem 0 !important;
}

/* event tile accordion
 * gitlab.com/geeks4change/drutopiadev/issues/208
 */
.tile-accordion > .views-row {
  display: flex;

  flex-wrap: wrap;
}
@media only screen and (min-width: 800px) {
  .tile-accordion .views-row .views-row {
    width: 50%;
  }
  .tile-accordion .views-row div.views-row:nth-child(1) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(3) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(5) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(7) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(9) .ui-accordion-content {
    width: 200%;
  }
  .tile-accordion .views-row div.views-row:nth-child(2) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(4) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(6) .ui-accordion-content,
  .tile-accordion .views-row div.views-row:nth-child(8) .ui-accordion-content {
    width: 200%;
    margin-left: -100%;
  }
}

/* override all accordion colors
 * gitlab.com/geeks4change/drutopiadev/issues/208
 * gitlab.com/geeks4change/drutopiadev/issues/265
 */
.no-accordion .views-accordion-header {
  color: inherit;
  background-color: inherit;
}
.no-accordion .views-accordion-header a,
.no-accordion .views-accordion-header a:link,
.no-accordion .views-accordion-header a:visited {
  color: inherit;
}
.ui-widget-content a {
  color: #1c8286;
}
.no-accordion-style {
  .ui-state-default,
  .ui-state-hover,
  .ui-state-active {
    background:  var(--c-white);
  }
  .ui-state-hover img,
  .ui-state-active img {
    transform: scale(1.05);
  }
  /* no special effects for active border */
  .ui-state-active {
    border: 0;
  }
  .ui-accordion .ui-accordion-header {
    margin: 0;
    padding: 1rem;
  }
}
.no-accordion-style-menu {
  .webform-submission-campaign-contact-form {
    text-align: center;
    .form-item {
      margin-bottom: 1rem;
    }
    .control {
      text-align: center;
      button {
        border-radius: 1em;
      }
    }
  }
  a:link {
     display: block;
     color:  var(--c-primary);
     text-align: center;
   }
  .ui-state-active {
    background:  var(--c-bg-primary-dark);
    border-radius: 3px;
    a {
      outline: 0;
      color:  var(--c-white);
    }
  }
}

[id^="block-fundingbar"] {
  margin-top: 3rem;
}
/* Get rid of styles for no-input input fields */
.no-form-style {
  border: 0;
  padding: 0;
  margin: 0;
  height: 1.5rem;
  max-width: 4.7rem;
  font-weight: bold;
  display: none;
  -moz-appearance: textfield;
}
.no-form-style::-webkit-inner-spin-button,
.no-form-style::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.suffix {
  display: none;
}
/* Form error on crowdinvest form */
.field-group-invalid {
  background: hsl(348, 100%, 61%);
  color:  var(--c-white);
}
.field-group-invalid a {
  color:  var(--c-white) !important;
}
@media screen and (min-width:  var(--bp-tablet)) {
  body.page-node-type-h4c-campaign {
    padding-top: 0 !important;
  }
  .page-node-type-h4c-campaign .container > .columns {
      flex-direction: row-reverse;
    }
  .page-node-type-h4c-campaign {
    nav.navbar:not(.h4c-fixed) {
      display: none;
    }
    .toolbar-horizontal:not(.h4c-has-main-navigation) {
      padding-top: calc(39px) !important;
    }
    .toolbar-horizontal.toolbar-fixed.toolbar-tray-open:not(.h4c-has-main-navigation) {
      padding-top: calc(39px + 39px) !important;
    }
    .paragraph--type--media-gallery {
      width: 150%;
      position: relative;
      z-index: 1000;
      background-color:  var(--c-white);
    }
  }
  #block-contactblock.fixed {
    position: fixed;
    height: calc(100vh-200px);
    max-height: 100%;
    max-width: 25em;
    overflow-y: auto;
    margin-right: 1rem;
    padding-right: .5rem;
    top: $navbar; /* navbar height */
  }
  .toolbar-tray-open #block-contactblock.fixed {
    top: 150px; /* toolbar-tray-open height + navbar height */
  }
}

/* Left and Right Logos in Campaign Header */
[id^="block-contentfield-logo"] {
  margin-bottom: 0;
  padding: .5rem;
  /*padding-top: 1rem;*/
}
[id^="block-contentfield-logo"].block:not(:last-child) {
  margin-bottom: 0;
}

[id^="block-contentfield-logo"] img {
  max-width: 250px;
  max-height: calc(68px - 1rem);
  width: auto;
}

[id^="block-contentfield-logo"] > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Reset link style on Mediacover slider */
.paragraph--type--h4c-eva-mediacover-slick-multi a {
    font-weight: normal;
    color: #222222;
}
