//=======================================================
// Enzian
//=======================================================

/* Bulma somehow sets overflow-y: scroll, so scrollbar is visible all the time (i.e. on the map), despite rarely needed */
html {
  overflow-y: auto;
}
h1 {
  font-size: 40px;
  font-weight:  var(--weight-semibold);
  line-height: 46px;

  color:  var(--c-primary);
}

h2 {
  font-size: 31px;
  font-weight:  var(--weight-semibold);
  line-height: 40px;

  color:  var(--c-primary);
}

h3 {
  font-size: 22px;
  font-weight:  var(--weight-semibold);
  line-height: 21px;

  color:  var(--c-primary);
}

h4 {
  font-size: 18px;
  font-weight:  var(--weight-semibold);
  line-height: 24px;

  color:  var(--c-primary);
}
/* overriding normalized _base.scss ourselves, as Bulma's override doesn't apply, https://gitlab.com/geeks4change/hubs4change/enzian/merge_requests/46 */
.main-content li {
  list-style: disc outside;
}
/* then overriding list-style for menu lists and h4c-info lists (orga full) again, as we can't rely on .content li */
.menu-list li,
.vertical-tabs li,
.horizontal-tabs li,
.help li,
.ui-menu li,
li.facet-item,
li.pager__item,
.h4c-info li {
    list-style: none;
}
/**
 * we currently do not override bulma.css with color module, so we do it here
 * see gitlab.com/geeks4change/hubs4change/enzian/issues/156
 * using button tag to be stronger then bulma.css
 **/

.button.is-primary:hover,
.button.is-primary.is-hovered {
    background-color:  var(--c-primary)-dark;
}
.button.is-primary {
    background-color:  var(--c-bg-primary);
}
.has-text-primary {
  color:  var(--c-primary) !important;
}

/* Mark required fields as such */
.form-required::after {
    content: '*';
    color: red;
}

.node--view-mode-full .title,
.node--view-mode-media .title,
.node--view-mode-preview .title,
.h4c-inline-content .title {
  margin-bottom: .25rem;
}
.h4c-inline-content *:not(.title) {
  margin-bottom: 0 !important;
}
.node--view-mode-media h3,
.node--view-mode-media h5,
.node--view-mode-preview h3,
.node--view-mode-preview h5 {
  margin-bottom: 0;
}

/* Fix background of dropdown in navbar, overriding Bulma */
.navbar-dropdown {
  background-color: #1c8286;
}

/* Make anchors offset for fixed Header */
.h4c-anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}

/* not sure what this is needed for? Hover is covered by main a:hover;? RH */
.h4c-inline-content:hover .title a,
.h4c-inline-content:hover .h4c-subtitle a {
  opacity: .75;
  color: #186e71;
}
.h4c-inline-pseudo > div::before,
.h4c-inline-pseudo > div::after,
.h4c-inline-pseudo > div > div {
  display: inline-block;
}
/* end RH */

.h4c-subtitle {
  margin-top: -.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: bold;
}

.authors .author, .organisations .organisation {
    display: inline-block;
}

.h4c-info > div:last-child {
  margin-bottom: 1rem;
}

.material-icons {
  vertical-align: bottom;
}

.label {
  font-size: inherit;
  font-weight: inherit;
}

.is-black {
  color: black;
}

/* overrides Bulma */
.section {
  padding: 0 1.5rem 3rem;
}
/* overrides Bulma, needed because we don't use images as expected from Bulma, so they get sometimes too big */
.image img {
    width: unset;
}

main {
  letter-spacing: 0;
  &:not(.is-fullscreen) > .columns {
    margin-top: .75rem;
  }
  a {
    font-weight: bold;
    color:  var(--c-primary);
    &:hover {
      opacity: .75;
      color:  var(--c-primary)-dark;
    }
  }
}

/* less horizontal padding for mobile accordion content items */
.ui-accordion .ui-accordion-content {
  padding: 1em;
}
@media screen and (min-width: 1025px) {
  .ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
  }
}
/* Remove margin-bottom from Paragraphs in Accordions */
.ui-accordion-content .paragraph {
  margin-bottom: 0;
}

/* Add general hero styles */

/* We might want to set height per content type */
.hero img {
  max-height: 80vh;
}

.hero-body {
  padding: 0;
  background-color: #1c8286;
  .block:not(:last-child) {
    margin-bottom: 0; /* We do not want any margin-bottom between blocks here by default */
  }
  .container {
    width: 100%;
    max-width: 100%;
  }
  .title {
    text-align: center;
    margin: .5rem;
  }
}
.hero-footer {
  background-color: #1c8286
}

/* Article styles */

.h4c-summary {
  font-size: 120%;
}
.page-node-type-article .h4c-subtitle {
  margin-bottom: .3rem;
}
.page-node-type-article .h4c-publishing-data {
  padding-bottom: 1rem;
  opacity: .9;
  font-style: italic;
}
.tags .tags:not(:last-child) {
    margin-right: 0.5rem;
}

/* Modal Dialog Lists need to overflow their container, but still needs to be scrollable, see #227 and #215 */
.ui-dialog .ui-dialog-content {
  overflow: auto;
  position: static;

}
.ui-dialog-content .form-actions {
  padding: 1rem 0 .5rem;
}
