/* THIS SHALL CHANGE TO CUSTOM CAMPAIGN MENU AND SCHLOUD NOT GO INTO H4C! */
/* only display menu after some sroll (JS addClass) -> therefor removing body padding */
.page-node-type-h4c-campaign nav.navbar:not(.h4c-fixed) {
  display: none;
}
body.page-node-type-h4c-campaign {
  padding-top: 0 !important;
}
/* I think this is no longer necessary because of the navbar now being sticky, but has to be tested with crowdinvest before removing */
body.page-node-type-h4c-campaign.toolbar-horizontal:not(.h4c-has-main-navigation) {
  padding-top: calc(39px) !important;
}
body.page-node-type-h4c-campaign.toolbar-horizontal.toolbar-fixed.toolbar-tray-open:not(.h4c-has-main-navigation) {
  padding-top: calc(39px + 39px) !important;
}

/* H4C Campaign specific styles */

/* This _might_ be what will work for oembed if fixed h4c#198 */
.page-node-type-h4c-campaign .hero .media-oembed-content {
  height: 80vh;
}

/* Keep old multimedia headers functional */
.page-node-type-h4c-campaign .hero {
  .video-embed-field-responsive-video {
    height: 80vh;
  }
  img {
    max-height: 100vh;
  }
}