//=======================================================
// ENZIAN - EVENTS
//=======================================================

//-- Event node preview
.events .preview {
  .media-left {
    float: left;

    margin-right: 1rem;
  }
  .h4c-content {
    float: left;
  }
  .media-content,
  .h4c-content {
    overflow: hidden;
  }
  .media-content > div,
  .h4c-content > div {
    clear: left;
  }
  .h4c-date-location {
    margin-bottom: 0;
  }
  .tags:not(:last-child) {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .content,
  details > div:last-child {
    margin-bottom: .5rem;
  }

  /* Statt preview mit node--view-mode-preview arbeiten - klasse in views für die reihe statt fürs item verwenden, eher auch gleich event-preview*/
  .h4c-image .image img {
    width: 220px;
  }
  .title:not(:last-child),
  .subtitle:not(:last-child) {
    margin-bottom: 0;
  }
  .media-content,
  details > div:last-child {
    margin: .5rem 0;
  }
  details summary {
    cursor: pointer;
  }
  .h4c-date-location .location::before {
    content: "@" !important;
  }
  .h4c-date-location > div:last-child::before {
    content: unset;
  }

  /*
    .media-left {
        float:left;
        margin-right: 1rem;
    }
    .h4c-content {
        float: left;
    }
    .media-content,
    .h4c-content{
        overflow: hidden;
    }
    .media-content > div,
    .h4c-content > div{
        clear: left;
    }

    .tags:not(:last-child) {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    .content,
    details > div:last-child {
        margin-bottom: .5rem;
    }
    */
}


/*/
/* hide subtitle in content teasers in preview popup (like events / articles in org preview)
/* could also be placed as mouse over over the title ...
/*/
.node--view-mode-preview .node--view-mode-micro .h4c-subtitle {
  display: none;
}

/* hiding n+3 events in preview - to have them visibile in full */
/* toolbar edit divs for logged in users ... */
.node--view-mode-preview .events-group > div > div > div:nth-child(n+3),
body.toolbar-horizontal .node--view-mode-preview .events-group > div > div > div:nth-child(n+4),
body.toolbar-vertical .node--view-mode-preview .events-group > div > div > div:nth-child(n+4) {
  display: none;
}
body.toolbar-horizontal .node--view-mode-preview .events-group > div > div > div:nth-child(3),
body.toolbar-vertical .node--view-mode-preview .events-group > div > div > div:nth-child(3) {
  display: inherit;
}

//-- Event node view-mode-full

.node--type-event.node--view-mode-full h3,
.node--type-event.node--view-mode-full h2,
.node--type-event.node--view-mode-full .h4c-event-date {
  margin-bottom: .25rem;
}
.node--type-event.node--view-mode-full .h4c-event-date {
  font-size: 18px;
  font-weight: 600;
  color:  var(--c-primary);
}

.node--view-mode-full .location {
  margin-bottom: 1rem;
}

/* Events Accordion ohne Accordion Styles */

.no-accordion-style {
  .ui-state-default,
  .ui-widget-content,
  .ui-state-focus {
    border: 0;
  }
  .ui-state-active {
    background:  var(--c-bg-primary-dark);
  }
  .ui-icon {
    display: none;
  }
  .ui-accordion-content {
    padding: 1em 0 !important;
  }
}
