//=======================================================
// ENZIAN - FACETFILTER
//=======================================================

// Desktop hide if expanded, Mobile show if expanded
.block--compony-h4cviewtoggle {
  border: unset;
  padding: .75rem;
  margin-bottom: var(--whitespace);
  background: var(--c-bg-primary);
  border-radius: 9px;
  text-align: center;
  position: sticky;
  top: 0;
  & > h2 {
    position: relative;
    cursor: pointer;
  }
  & > h2:after {
    font-family: FontAwesome;
    font-size: 20px;

    position: absolute;
    top: 6px;
    right: 20px;
    /*content: '\f078';*/

    content: "\f107";
  }
  &.block--expanded {
    border:  var(--c-grey-dark) solid 2px;
    padding: 12px;
    overflow-y: auto;
    max-height: unquote("calc(85vh - #{$footer})");
  }
  &.block--expanded > h2:after {
    /*content: '\f077';*/
    content: "\f106";
  }
  &.block--animate {
    & > h2:after {
      animation-name: rotate180to0;
      animation-duration: .4s;
    }
    &.block--expanded > h2:after {
      animation-name: rotate0to180;
    }
  }
  h2 {
    margin-bottom: -.5rem;
  }
  &.block--expanded h2 {
    margin-bottom: .5rem;
  }
  .block-facets {
    margin-bottom: 0;
    margin-top: .5rem;
  }

}


.facets-widget-checkbox input[type=checkbox]:hover, .facets-widget-checkbox input[type=checkbox]:after {
  background-color:  var(--c-bg-primary);
}
/* // Desktop
@media only screen and (min-width:  var(--bp-tablet)) {
  .block--compony-h4cfacets > div {
    display: inherit;
  }
}*/
// Mobile

@media only screen and (max-width:  var(--bp-tablet)) {
  .block--compony-h4cfacets {
    & > h2:after,
    & > div {
      display: none;
    }
  }
}

@keyframes rotate0to180 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate180to0 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.facets-widget-checkbox {
  li,
  input[type="checkbox"],
  label {
    cursor: pointer;
  }
  .facet-item:not(.facet-item--selected) > div {
    display: none;
  }
  & > ul > li > .facets-checkbox {
    display: inline-block;
    float: left;
    & + label {
      display: inline-block;

      width: calc(100% - 25px);
      margin-left: 5px;
    }
  }

  .facet-item--has-sub-items {
    position: relative;

    width: calc(100% - 25px);
    ul li {
      margin-bottom: 2px;
      margin-left: 17px;
    }
  }
}

/* JSRELATED
 * facet filter toggles usw
 * close icon
 *
 * wie sinnig das ist, ist mir nicht klar...weil js abhängig sind wir eh. aber so wäre es evtl übersichtlicher.
 */
.facets-widget-checkbox .facet-item--has-sub-items {
  &:after {
    font-family: FontAwesome;
    font-size: 20px;

    position: absolute;
    z-index: 505;
    top: -2.5px;
    right: -15px;
    /*content: '\f078';*/

    content: "\f107";
  }
  &.facet-item--expanded:after {
    /*content: '\f077';*/
    content: "\f106";
  }
  &.facet-item--expanded:after {
    animation-name: rotate0to180;
  }
  &.facet-item--animate:after {
    animation-name: rotate180to0;
    animation-duration: .8s;
  }

  /*löschen*/
  &:before {
    content: unset !important;
  }
}

.block--compony-h4cmapcontenttype,
.block--compony-h4cmaporganisationtypes {
  display: none !important;
}


/* from _temp.css - still waiting to be refactored */

/* Repair SumoSelect in Facet Filter Box */
.CaptionCont.SelectBox label {
  display: block; /* Do not hide dropdown symbol */
}
.facets-widget-dropdown .SumoSelect,
.facets-widget-dropdown select {
  width: 100%; /* Fit width to facet box */
  min-height: 2rem; /* to prevent collapsing on mobile */
  max-width: 100%;
}

/* Views margin for facet filter sidebar and organisations list popup */

.main-content.column.is-10-widescreen.has-filter-sidebar {
  width: 100% !important;
}
.has-filter-sidebar aside.sidebar-first {
  width: 250px !important;
  z-index: 1001; /* stronger than leaflet popup */
}
.has-filter-sidebar .sidebar-first.fixed .block:not(:last-child) {
  margin-bottom: 0;
}
.facets-widget-checkbox .facet-item--has-sub-items.facet-item--animate,
.facets-widget-checkbox .facet-item--has-sub-items.facet-item--expanded {
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-duration: none;
          animation-duration: none;
}

/*TOGGLE*/

.block--compony-h4cviewtoggle a:not(.is-active):not(:hover) {
  opacity: .5;
}
.block--compony-h4cviewtoggle a.is-active:hover {
  opacity: 1;
}

.block--compony-h4cviewtoggle a {
  padding: .5rem 1rem;
}

/* das dunkelgrün löschen */
.block--compony-h4cviewtoggle a.is-active {
  background-color: inherit;
}

@media only screen and (max-width:769px) {
  .main-content.column.leaflet-fullscreen {
    background:  var(--c-bg-primary);
  }
}

@media only screen and (min-width: 769px) {
  .main-content.has-filter-sidebar .views-element-container { /* DANGER!!! wirkt sich auch auf Popup/Preview aus */
    margin-right: 235px;
  }
}
@media only screen and (max-width: var(--bp-tablet)) {
  .block--compony-h4cfacets h2 {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: .8rem !important;
    margin: 0 !important;
  }
  body.toolbar-fixed .block--compony-h4cfacets h2 {
    top: 39px;
  }
}
@media only screen and (max-width: var(--bp-desktop)) {
  .block--compony-h4cfacets,
  .navbar-menu {
    max-height: calc(100vh - 48px - 36px);
  }
  body.toolbar-vertical .block--compony-h4cfacets,
  body.toolbar-vertical .navbar-menu {
    max-height: calc(100vh - 48px - 39px - 36px);
  }
  .block--compony-h4cfacets {
    border: unset;
  }
}
@media only screen and (min-width: 600px) {
  .main-content.has-fixed-popup .views-element-container { /* DANGER!!! wirkt sich auch auf Popup/Preview aus */
    margin-left: 235px;
  }
}
@media only screen and (min-width: 610px) and (max-width: 769px) {
  body.toolbar-fixed .block--compony-h4cfacets h2 {
    top: calc(39px + .75rem);
  }
}

@media only screen and (min-width: 610px) and (max-width: 769px) {
  body.toolbar-fixed .block--compony-h4cfacets h2 {
    top: calc(39px + .75rem);
  }
}

/*
 * Bulma Checkradio: Nur das CSS rausgezogen was wir gerade für Zürich brauchen
 *
 * Quelle: https://wikiki.github.io/form/checkradio/
 *
 * Die Pseudoklasse label:before wird für den weißen Rand benutzt (immer weiß), label:after für den farbigen Punkt in der Mitte. In dieser Datei werden die default Werte festgelegt, in der view/h4c_term_color_css_block die dynamischen term colors.
 *
 * Achtung: Wir benutzen die Radiobuttons aus der bulma extension als Checkboxen! Was hier checkbox ist, ist in der Bulma Extension radio!
 *
 * Todo: Als SCSS in theme einbauen / Fallback Farbe mit Color Theme fülen (Checkbox Color wird von h4c_term_color überschrieben falls vorhanden)
 *
*/

/* Make a bit more space, from /enzian/assets/css/global.css:870*/
.facets-widget-checkbox > ul > li > .facets-checkbox + label {
    margin-left: 0px;
}

/* Opacitiy für Labels und Checkboxen */

.facets-widget-checkbox input + label {
    opacity:.7;
}

.facets-widget-checkbox .facet-item--active-trail input + label, .facets-widget-checkbox input[checked=checked] + label {
    opacity: 1;
}

/* Set default color to make it work without view */

.facets-widget-checkbox input[type=checkbox]:checked + label:after {
  background:  var(--c-bg-primary);
  display: inline-block;
  opacity: .5;
}

/* Stuff from Bulma Extension */

.facets-widget-checkbox input[type=checkbox] {
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
}

.facets-widget-checkbox input[type=checkbox]+label {
  position: relative;
  display: initial;
  cursor: pointer;
  vertical-align: middle;
  margin: .3em 0;
  padding: 0;
  border-radius: 4px;
}

.facets-widget-checkbox input[type=checkbox]+label:hover:before {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hover-color;
  animation-name: hover-color;
}
/* unchecked items */
.facets-widget-checkbox input[type=checkbox]+label:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border: .35rem solid white;
  border-radius: 50%;
}
/* unchecked child items */
.facets-widget-checkbox li li input[type=checkbox]+label:before {
  position: absolute;
  left: 0;
  top: .1rem;
  content: '';
  border: .3rem solid white;
}

.facets-widget-checkbox input[type=checkbox]+label:after{
  position: absolute;
  display: none;
  content: '';
  top: 0;
}

.facets-widget-checkbox input[type=checkbox]:focus+label:before {
  outline: 1px dotted #b5b5b5;
}
/* checked item border */
.facets-widget-checkbox li li input[type=checkbox]:checked+label:before {
  border: .35rem solid #fff;
}

.facets-widget-checkbox input[type=checkbox]:checked+label:before {
  -webkit-animation-name: none;
  animation-name: none;
}

/* hover color border*/
.facets-widget-checkbox input[type=checkbox]:hover:not([disabled])+label:before {
  background:  var(--c-bg-primary);
}

/* Checked item settings, tranform for size */
.facets-widget-checkbox input[type=checkbox]+label:after {
  border-radius: 50%;
  background:  var(--c-bg-primary);
  display: inline-block;
  left: 0;
  -webkit-transform: scale(.6);
  transform: scale(.6);
  opacity: .6;
}

.facets-widget-checkbox li li input[type=checkbox]+label:after {
  border-radius: 50%;
  background:  var(--c-bg-primary);
  display: inline-block;
  top: .1rem;
  left: 0;
  -webkit-transform: scale(.6);
  transform: scale(.6);
  opacity: .6;
}

.facets-widget-checkbox input[type=checkbox]+label {
  font-size: 1rem;
  padding-left: 2rem;
}

.facets-widget-checkbox input[type=checkbox]+label:after,
.facets-widget-checkbox input[type=checkbox]+label:before {
  width: 1.5rem;
  height: 1.5rem;
}

.facets-widget-checkbox li li input[type=checkbox]+label:after,
.facets-widget-checkbox li li input[type=checkbox]+label:before {
  width: 1.2rem;
  height: 1.2rem;
}

.facets-widget-checkbox input[type=checkbox][disabled] {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox][disabled]+label {
  opacity: .5;
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox][disabled]+label:after,
.facets-widget-checkbox input[type=checkbox][disabled]+label:before,
.facets-widget-checkbox input[type=checkbox][disabled]+label:hover {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox][disabled]:hover {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox][disabled]:hover:before {
  -webkit-animation-name: none;
  animation-name: none;
}

.facets-widget-checkbox input[type=checkbox][disabled]:before {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox][disabled]:after {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox]:checked[disabled] {
  cursor: not-allowed;
}

.facets-widget-checkbox input[type=checkbox]:checked[disabled]+label {
  opacity: .5;
}
