//=======================================================
// Enzian
//=======================================================

.h4c-inline-content > div {
  display: inline-block;
}
.h4c-inline-pseudo > div::before,
.h4c-inline-pseudo > div::after,
.h4c-inline-pseudo > div > div {
  display: inline-block;
}
