//=======================================================
// Enzian
//=======================================================

/* fixed footer */
footer .primary-footer {
  position: fixed;
  z-index: 502; /* higher than .sidebar-first */
  right: 0;
  bottom: 0;
  left: 0;
}

/* body padding for fixed footer */
body {
  padding-bottom: $footer;
}

@media only screen and (max-width:769px) {
  .fixed.sidebar-first {
    height: 48px;
    min-height: 48px;
  }
}
@media only screen and (max-width: 610px) {
  nav.navbar .navbar-menu {
    z-index: 1003 !important;
  }
}
@media only screen and (min-width: 610px) and (max-width: 767px) {
  body.toolbar-fixed .block--compony-h4cviewtoggle {
    top: calc(39px + 15px) !important;
  }
}
