//=======================================================
// Enzian
//=======================================================

.footer,
.primary-footer {
  padding: 0;
}

.primary-footer {
  background-color:  var(--c-bg-primary);
}

.footer-menu a {
  color: #fff;
}

ul.menu-list.footer-menu {
  display: flex;
}

/* MENU FOOTER */
.menu-list {
  a,
  .menu-list a:hover {
    color: #fff;
  }
  a:hover,
  .menu-list a.is-active {
    background-color:  var(--c-bg-primary-dark);
  }
  a/*, a.is-active:hover*/ {
    background-color:  var(--c-bg-primary);
  }
}
