/*
 * Style Group Operations Dropdown Button
 *
 * Beispiel /group/[gid]/members
 *
 */

.open .dropbutton {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background:  var(--c-white);
  margin-bottom: 3rem !important; /* needed for the last element to be over the footer */
}
.dropbutton-action {
	background:  var(--c-white);
	border: 1px solid  var(--c-grey)-light;
}
.dropbutton a {
    padding: .5em;
    margin-right: 1rem;
}
.js .dropbutton a {
    padding-right: 1em;
}
.dropbutton {
    .delete {
        font-size: 1rem;
        background:  var(--c-white);
        border-radius: 0;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        &:before,
        &:after {
            content: none;
        }
    }
}
.views-field-dropbutton .dropbutton li.secondary-action:hover,
.views-field-dropbutton .dropbutton li.dropbutton-action:hover,
li.dropbutton-action:hover {
	background:  var(--c-grey)-light;
    border-radius: 0;
}
.dropbutton-multiple.open .dropbutton-arrow {
    top: 1rem;
}


/*
 * Mache aus Group Operations Dropdown eine Button Liste
 *
 * Beispiel /group/[gid]/nodes in Sidebar rechts
 *
 */

.js .dropbutton-multiple .dropbutton-widget {
	padding: 0;
}

/* Block with Group Actions */
.block-group-operations {
  .dropbutton li {
    display: block !important; /* shouldn't be necessary, but somehow is otherwise not displaying as block, even though it is already declared on .js .dropbutton li */
    margin-bottom: .5rem;
  }
  li.dropbutton-toggle { /* need the li for specificity */
    display: none !important; /* need the !important to override .dropbutton li */
  }
  .dropbutton a {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color:  var(--c-grey)-light;
    /*color: #363636;*/
    cursor: pointer;
    padding: 0.75rem;
    white-space: nowrap;
    margin: 0;
  }
}

.block-local-actions-block nav li a {
    margin-bottom: .5rem;
}
