/**
* =======================================================
* ENZIAN - LEFLET FULLSCREEN
* =======================================================
*
*/

$navbar: 4.25rem; /* 68px */
$navbar-mobile: 3rem; /* 48px */
$footer: 2.25rem; /* 36px */
$toolbar: 2.4375rem; /* 39px */
$toolbar-tray: 4.9375rem; /* 79px */

// Primary
$color-primary: #1c8285;
$color-primary-dark: #186e70;
$color-bg-primary: #1c8286;
$color-bg-primary-dark: #186e71;
$primary: $color-primary;
$color-white: #ffffff;
$color-black: #222222;

// Greys
$color-grey-dark: #ccc;
$color-grey: #e3e3e3;
$color-grey-light: #ededed;
$color-grey-lighter: #fcfcfc;

// Topics / categories
$color-terms-topic: $color-primary;
$color-terms-sustainability: $color-primary;
$color-terms-business-type: $color-primary-dark;

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// New Breakpoint
$mobile: 500px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default


/* Make leaflet popup fixed geeks4change/drutopiadev/issues/227 */
.fixed-popup .leaflet-popup-tip {
  display: none;
}
.fixed-popup .leaflet-popup {
  position: relative;
  width: 250px;
  transform: none !important; /* needed to override leaflet js */
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0;
  text-align: left;
  @media screen and (min-width: 550px) and (min-height: 550px) {
    width: calc(250px + 1rem);
  }
}

/* need to overwrite leaflet custom behaviour */
.leaflet-container a {
  color: var(--c-bg-primary);
}
.fixed-popup .leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-pane,
.leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none;
  font-family: "Titillium Web", sans-serif;
}
.leaflet-popup a.leaflet-popup-close-button {
  @include close-button;
  padding: 0.45rem 0.75rem;
  @media screen and (min-width: 550px) and (min-height: 550px) {
    padding-top: 1.4rem;
  }
  &:hover {
    opacity: 1; /* for consistency's sake we get rid of the hover-effect here too */
    color: var(--c-white);
  }
}
