//=======================================================
// Enzian
//=======================================================

// Parts of this should go into Octavia later.

.node--type-location.node--view-mode-micro .title,
.node--type-location.node--view-mode-address div {
  font-size: inherit !important;
  font-weight: 600;
  line-height: inherit;

  margin: 0;

  color:  var(--c-primary);
}
.node--type-location.node--view-mode-micro .title::after {
  font-weight: 500;

  content: "|";
  content: "@";

  color: #000;
}
