//=======================================================
// Enzian
//=======================================================

div:not(.active) > .views-field.preview {
  display: none;
}
.active > .views-field.media {
  background-color:  var(--c-grey);
}

// Needs to be redone after deleting organisations-media template and switching back to bulma / octavia media template.
.organisation-list-logo {
  align-self: center;
}

.organisation-list-desc-item {
  height: 175px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:  var(--c-grey-dark);
}

.organisations {
  .media:hover {
    background-color:  var(--c-grey);
  }
  .node--view-mode-preview {
    display: none;
  }
  .active .node--view-mode-preview {
    display: inherit;
  }

  /* With the two div:not it would be disabled on hover on active. but it is a little bit strange
  (for me if i hover and color changes, and after click color change undone)
  if we would have a border around the active media all the time it would be ok. */
  /*div:not(.active)*/ .node--view-mode-media:hover,
  .active /*div:not(:hover)*/.node--view-mode-media {
    background-color:  var(--c-grey);
  }
  .node--view-mode-media:hover {
    cursor: pointer;
  }
  .node--view-mode-media {
    /* Deactivate the links in the media view mode that should only lead to preview .*/
      .tags a,
      .title a,
      .h4c-subtitle a,
      .h4c-image a {
        pointer-events: none;
    }
  }

  /***
   * Styling the preview popup
   *
   * Better we should use drutopias bulma media stuff here
   * maybe it is not working as we are using fields
   * stlly we can take the css from there.
   */
  @media only screen and (min-width: 769px) {
    .node--view-mode-media {
      float: left;
      width: 50%;
    }
  }
}

.node--view-mode-media .columns:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.node--type-organisation.node--view-mode-media {
  .media-left {
    position: absolute;
  }
  .media-content {
    margin-left: 115px;
  }
}

/* From _temp.css - still waiting to be refactored. */

/* Organisation media */
/*
 * We need columns is-multiline (?)
 * and column is-flex-column is-12-tablet is-half-desktop is-half-widescreen (?)
*/

.organisations.fixed-popup .columns .column {
  padding: 0;
}

.node--type-organisation.node--view-mode-media {
  display: flex;
  float: unset !important;
  width: unset !important;
  padding: .5rem;
  margin: .5rem 0;
}

/* Organisation List */

/* Override styles from global.css:1378 */

.node--type-organisation.node--view-mode-media .media-left {
    position: relative;
}
/* Overide bulma.css:4102 */

.organisations .media.media--blazy.media--switch.media--switch--content.media--image {
  padding-top: 0;
}

/* Override styles from global.css:1381 */

.node--type-organisation.node--view-mode-media .media-content {
  margin-left: 0;
  overflow: hidden;
}

/* Style h4c-subtitle in media view-mode */

.node--type-organisation.node--view-mode-media .media-content .h4c-subtitle {
  display: block;
  font-size: 1rem;
  margin-top: 0;
  font-weight: normal;
}
.node--type-organisation.node--view-mode-media .media-content .h4c-subtitle  div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.organisations .media-left {
  margin-right: .5rem;
}

/* Organisation full */

@media only screen and (min-width: 768px) {
  .node--type-organisation.node--view-mode-full .h4c-image,
  .node--type-organisation.node--view-mode-full .h4c-info,
  .node--type-organisation.node--view-mode-full /*.h4c-location-map*/ .location {
    float: left;
  }
  .node--type-organisation.node--view-mode-full /*.h4c-location-map*/ .location {
    min-width: 40%;
  }
  .node--type-organisation.node--view-mode-full .h4c-image,
  .node--type-organisation.node--view-mode-full .h4c-info {
    min-width: 30%;
    padding-right: .5rem;
  }
  /* not flexible. would be great if it is fixed at 30% if all three exists and 50% it two and nothing if one
   * or a common container with display flex / inline-block
  */
  .node--type-organisation.node--view-mode-full .h4c-image,
  .node--type-organisation.node--view-mode-full .h4c-info {
    width: 30%;
  }
}

.node--type-organisation.node--view-mode-full .h4c-summary,
.node--type-organisation.node--view-mode-full .h4c-body-paragraph,
.node--type-organisation.node--view-mode-full .views-element-container, /* DANGER!!! zu unspezifisch */
.h4c-website,
.h4c-opening-hours-group {
  clear: left;
}
.node--type-organisation.node--view-mode-full .views-element-container { /* DANGER!!! zu unspezifisch */
  float: left;
}

.node--type-organisation.node--view-mode-full .slick.blazy {
  float: right;
  clear: left;

  width: 40%;
}

.node--view-mode-full > .h4c-inline-content > .h4c-subtitle,
.node--view-mode-full > div > .h4c-inline-content > .h4c-subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 21px;

  color: #1c8286;
}

/* should  not visible when hovering the label */
.node--type-organisation.node--view-mode-full .tags:hover .label.visually-hidden {
  font-weight: 600;

  position: absolute;
  top: -1.5rem;
  left: -1rem;

  display: inherit;
  overflow: unset;
  clip: unset;

  width: unset;
  height: unset;
  padding: .125rem;

  word-wrap: unset;

  border-radius: 6px;
  background: white;
}

/* We will use icons instead of labels (see below) */
.node--type-organisation.node--view-mode-preview .info-group .label,
.node--type-organisation.node--view-mode-full .h4c-info > div:not(.organisations) .label {
  display: none;
}
/* but show label on hover */
.node--type-organisation.node--view-mode-full .h4c-info > div:hover:not(.organisations) .label {
  font-weight: 600;

  position: absolute;
  top: -1.5rem;
  left: 0rem;

  display: inherit;

  padding: .125rem;

  transition: opacity 1.5s, top 1.5s, height 1s, padding 1s;

  border-radius: 6px;
  background: lightgray;
}
/* For absolute label. */
.node--type-organisation.node--view-mode-full .h4c-info > div {
  position: relative;
}
/* Hide labels on hover so one can easier access the field behind them. */
.node--type-organisation.node--view-mode-full .h4c-info > div:not(.organisations) .label:hover {
  top: 0;
  padding: 0;
  opacity: 0;
}
/* Let's wrap long urls even without empty spaces. */
.h4c-website a {
  @include word-wrap();
}
/* needed in order for the second line of the location address to fall in line with the first one */
.node--type-organisation.node--view-mode-full .h4c-inline-content {
  display: inline-block;
}

/* FontAwesome Icons  */

/* We always want to mirror link and phone, once we use this somewhere else as well this should move to general or such */
.fa-link, .fa-phone {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* Add color and font-size to inline list icons used on organisation full, see #191 */
.h4c-info .fa-ul .fa-li {
  color: #1c8285;
  font-size: 130%; }

.h4c-info .fa-ul li {
  line-height: 150%;
  padding-bottom: .2rem;
}

/* Add icons using ::before, try to avoid and use approach from #191 */

.h4c-inner-popup .location::before, .h4c-inner-popup .h4c-opening-hours-group::before, .h4c-inner-popup .h4c-email::before, .h4c-inner-popup .h4c-website a::before,  {
  font-family: FontAwesome;
  font-size: 140%;
  float: left;
  width: 1.5rem; /* to keep content in line */
  color:  var(--c-primary);
}

.h4c-inner-popup .location::before {
  content: "\f041"; /*"\f3c5"*/
}
.h4c-inner-popup .h4c-opening-hours-group::before {
  content: "\f017"; /*"\f017"*/
}
.h4c-inner-popup .h4c-email::before {
  content: "\f0e0"; /*"\f0e0"*/
}
.h4c-inner-popup .h4c-website a::before {
  content: "\f0c1"; /*\f0ac*/ /*"\f57c \f0c1"*/
}

/* With the two div:not it would be disabled on hover on active. but it is a little bit strange
(for me if i hover and color changes, and after click color change undone)
if we would have a border around the active media all the time it would be ok. */
.organisations > .column:hover,
.organisations > div > .column:hover,
.organisations .active /*div:not(:hover)*/.node--view-mode-media {
  background-color: #e3e3e3;
}
.organisations .node--view-mode-media:hover {
  cursor: pointer;
}

.message {
  clear: both; /* we need this to prevent overlapping, until we switched to grid/flex layout */
}
