/* the Preview and Popup view modes for display of organisations, locations and events  */
.h4c-outer-popup {
  font: .85rem/1.5 "Titillium Web", sans-serif; /* need to override leaflet hardcoded css */
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--c-grey);
  @media screen and (min-width: 550px) and (min-height: 550px) {
    border-radius: 9px;
  }
}
.h4c-inner-popup {
  margin: .5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}
.h4c-outer-popup h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: var(--c-white);
  background-color: var(--c-bg-primary);
  padding: .5rem 1.5rem .5rem .5rem;
  line-height: 1.2;
  @media screen and (min-width: 550px) and (min-height: 550px) {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  a {
    @include word-wrap;
    color: var(--c-white);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    pointer-events: all;
  }
}
.h4c-button__popup {
  text-align: center;
  margin: .5rem;
  .button {
    width: 100%;
  }
}
.h4c-inner-popup {
  .title,
  h3 {
    margin: 0;
  }
  .h4c-subtitle {
    margin-top: 0;
    font-size: 1rem;
    text-align: center;
  }
  .h4c-tabs__info {
    margin: 1rem 0;
    line-height: 1;
    p {
      margin: 1rem 0;
      float: left;
    }
    > div {
    padding-bottom: .5rem;
    line-height: 130%;
    }
  }
  .h4c-location-address {
    display: inline-block;
  }
  .initial { /* center initial in popup as the images and make it as small as them as well */
    margin: 0 auto .5rem;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* round background */
    &::first-letter {
      font-size: 4.5rem;
    }
  }
  .views-element-container { /* needed to overwrite too unspecific selectors from elsewhere */
    margin: 0 !important;
  }
}
.h4c-image img {
  position: relative;

  min-width: 100px; /* caus of issue #9 */
  /*  Nicht zentrieren, sondern linksbündig, sieht sonst komisch aus und entspricht nicht dem Design-Entwurf. */
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: .5rem;
}

/* hide EVA views title & icon in preview and popup displays */
.h4c-tabs__events .view-h4c-eva header,
.node--view-mode-preview .view-h4c-eva header {
  display: none;
}

//-- Infobox tabs
.horizontal-tabs .horizontal-tabs-list {
  background: transparent;
}
.horizontal-tabs-panes .horizontal-tabs-pane {
  padding: 0;
}
.horizontal-tabs {
  border: 0;
}
.h4c-tabs,
.h4c-tabs__events .node--view-mode-micro,
.horizontal-tabs-panes .node--type-event {
  margin: 1rem 0;
}
/* Hide all but the first three events - for now we are showing all */
/*.h4c-tabs__events .view-h4c-eva div:nth-of-type(n+5) {
  display: none;
}*/
.horizontal-tab-button {
  width: 33%;
  padding-top: 10px;
  text-align: center;
  background-color: var(--c-grey-light);
  &.selected {
    background-color: var(--c-grey-light)er;
  }
  a::before {
    font-family: FontAwesome;
    font-size: 23px;
    display: block;
    color: $color-primary;
  }
  a::after {
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  &.first {
    border-radius: 6px 0 0 6px;
  }
  &.last {
    border-radius: 0 6px 6px 0;
  }
  &.first.last {
    border-radius: 6px;
  }
  &:nth-child(1) a::before {
    content: "\f05a";
  }
  &:nth-child(2) a::before {
    content: "\f073";
  }
  &:nth-child(3) a::before {
    content: "\f20e";
  }
  a {
    padding-bottom: 1rem;
  }
}
.horizontal-tabs-pane {
  padding: 1rem 0;
}
@media only screen and (max-width: 550px) {
  .events .preview .media-left {
    width: 33%;
  }
}
@media only screen and (max-width: 375px) {
  .events .preview .media-left {
    display: none;
  }
}

/* Close-Button on Organisation Preview */
.node--view-mode-preview .h4c-outer-popup > .title div::after {
  content: "\00d7";
  @include close-button;
}

/* The hover effect would also affect the title link, so I think it is better without
.node--view-mode-preview .h4c-outer-popup > .title div:hover::after {
  opacity: .75;
}*/
/* needed for preview close button */
#js-popup .h4c-outer-popup > .title > div {
  pointer-events: none;
}
.organisations .node--view-mode-preview {
  display: none;
}
.organisations .active .node--view-mode-preview {
  display: inherit;
}
.h4c-opening-hours-group .office-hours-status {
  font-weight: 600;
  color: var(--c-bg-primary);
}
.node--view-mode-preview .h4c-info > div, .node--view-mode-popup .h4c-info > div {
  line-height: 150%;
}

/* abstract top position values and max-height for fixed elements (Popup, Preview for now,
* maybe later we want the filter sidebar in here as well)
*
* all this stuff is for the position and max-height of the popup (Map) and the preview (List) in all possible cases:
*
* No Toolbar
* case 1: anonymous user + mobile: $navbar-mobile
* case 2: anonymous user + bigger mobile/tablet: $navbar-mobile + 1rem
* case 3: anonymous user + desktop: $navbar + 1rem
*
* Toolbar
* case 4: logged in user + mobile: $navbar-mobile + $toolbar
* case 5: logged in user + bigger mobile/tablet: $navbar-mobile + $toolbar + 1rem
* case 6: logged in user + desktop: $navbar + $toolbar + 1rem
*
* Toolbar-Tray
* case 7: logged in user + mobile + toolbar-tray: $navbar-mobile + $toolbar-tray
* case 8: logged in user + bigger mobile/tablet + toolbar-tray: $navbar-mobile + $toolbar-tray + 1rem
* case 9: logged in user + desktop + toolbar-tray: $navbar + $toolbar-tray + 1rem
*
*/
.organisations .node--view-mode-preview,
.h4c-outer-popup {
  position: fixed;
  z-index: 503;
  left: 0;
  width: 15.625rem; /* 250px */
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}


