/* Hide site slogan via CSS, as we do not know why it appears on front page */
.hero-body h1.title {
  display: none;
}

/* The toolbar tray has a margin-bottom: .75em; from the overly broad definition of .field:not(:last-child), therefore we overwrite it again */
.toolbar-tray .field {
  margin: 0;
}

/* We do a lot of heavy lifting with z-indexes and position:fixed, so we managed to break the admin toolbar. This fixes it, but feels not quite right. */
.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  z-index: 1005;
}
