//=======================================================
// ENZIAN - SIDEBARS ()
//=======================================================

//-- Block styling

.block--compony-h4cviewtoggle a {
  padding: 5px 15px;
  color:  var(--c-white);
  border-radius: 3px;
  &.is-active {
    background-color:  var(--c-primary)-dark;
  }
}
.block--compony-h4cviewtoggle .toggle {
  padding: .5rem;
}
.block--compony-h4cfacets h2.is-uppercase {
  text-transform: unset !important;
}
%close-icon {
  font-family: FontAwesome;
  position: absolute;
  z-index: 505;
  content: "\f00d";
  cursor: pointer;
}
.sidebar-first {
  z-index: 501;
  &.fixed .block:not(:last-child) {
    margin-bottom: 0;
  }
}

//-- Responsive design
@media only screen and (min-width: var(--bp-tablet)) {
  .sidebar-first.is-2 {
    position: fixed;
    top: 5.25rem;
    right: 1%;
    overflow: hidden;
    width: 250px;
    max-height: unquote("calc(100vh - #{$navbar} - #{$footer} - #{$toolbar-tray} - 1rem )");
    background-color: transparent;
    padding: 0;
  }
  .block--compony-h4cviewtoggle {
    text-align: center;
    border-radius: 9px;
    background-color:  var(--c-bg-primary);
  }
  .block--compony-h4cfacets {
    padding: 12px;
    border:  var(--c-grey-dark) solid 2px;
    border-radius: 9px;
    background:  var(--c-grey);
  }
}
@media only screen and (min-width:  var(--bp-mobile)) {
  .sidebar-first.is-2 {
    width: 250px;
  }
}
// MOBILE
@media only screen and (max-width:  var(--bp-mobile)) {
  .block--compony-h4cfacets {
    right: 1%;
    width: 100vw;
  }
}
@media only screen and (max-width:  var(--bp-tablet)) {
  .block--compony-h4cfacets > div {
    display: none;
  }
  .block--compony-h4cviewtoggle {
    position: fixed;
    top: 0;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
  }
  .block--compony-h4cviewtoggle,
  .block--compony-h4cfacets {
    body.toolbar-horizontal & {
      top: $toolbar-tray;
    }
    body.toolbar-vertical & {
      top: $toolbar;
    }
  }
  #block-h4c-organisationsmaplisttoggle,
  #block-h4c-eventsmaplisttoggle {
    padding: .8rem 0;
  }
  .block--compony-h4cfacets {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    margin-top: 3rem;
    background:  var(--c-grey);
  }
  .sidebar-first.is-2 {
    position: fixed;
    z-index: 1002;
    top: 0;
    right: 0;
    left: 3rem;
    width: 100vw;
    height: 3rem;
    background-color:  var(--c-bg-primary);
  }
}
@media only screen and (max-width:  var(--bp-desktop)) {
  body.toolbar-vertical .block--compony-h4cviewtoggle,
  body.toolbar-vertical .block--compony-h4cfacets h2 {
    top: $toolbar;
  }
}
.has-filter-sidebar .sidebar-first.column {
  padding: 0;
}
