a.tag,
a.tag:hover,
.tags a,
.tags a:hover {
  color:  var(--c-white);
}
a.tag:hover,
.tags a:hover {
  opacity: .75;
}
a.topic,
.tags.topics a {
  background-color:  var(--c-terms-topic);
}
a.sustainability,
.tags.sustainability a {
  background-color:  var(--c-terms-sustainability);
}
a.business-type,
.tags.business-types a {
  background-color:  var(--c-terms-business-type);
}

.tags:not(:last-child) {
  margin-bottom: 0;
}

/* from _temp.css - still waiting to be refactored */

.tags a:not(body) {
  font-size: .75rem;
  line-height: 1.5;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  height: 2em;
  padding-right: .75em;
  padding-left: .75em;

  white-space: nowrap;

  border-radius: 3px;
  color:  var(--c-white);
  background-color:  var(--c-bg-primary);

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tags a:not(:last-child) {
  margin-right: .5rem;
}
.tags a:hover {
  text-decoration: underline;
}
.tags a {
  margin-bottom: .5rem;
}
.tags .label {
  margin-right: 1rem;
}
