/* Membership Form Styling, 
** e.g. https://www.stadtwandler.org/de/foerdermitglied-werden
**
*/
#webform-submission-fordermitglied-werden-add-form {
    max-width: 50rem;
}
#webform-submission-fordermitglied-werden-add-form > * {
    margin-bottom: 1.5rem;
}
#webform-submission-fordermitglied-werden-add-form .js-form-type-webform-markup {
    margin-bottom: 0 !important;
}
#webform-submission-fordermitglied-werden-add-form .panel-block {
	display: block;
}
#webform-submission-fordermitglied-werden-add-form .panel-block > .description {
	font-weight: bold;
	margin-top: 1rem;
}
