.h4c-scrollable {
  position: sticky;
  top: 2rem;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.block--compony-h4cfacets {
  padding: 12px;
  border:  var(--c-grey-dark) solid 2px;
  border-radius: 9px;
  background:  var(--c-grey);
  position: sticky;
  top: 4rem;
  overflow-y: hidden;

  h2::before {
    font-family: FontAwesome;
    margin-right: .5rem;
    content: "\f0b0";
  }
  h2.title:not(:last-child),
  .subtitle:not(:last-child) {
    margin-bottom: .5rem;
  }

  h2 {
    font-size: inherit;
    font-weight:  var(--weight-semibold);
    line-height: inherit;
    padding: .5rem;
    margin: -12px;
    text-align: center;
    color:  var(--c-white);
    border-radius: 9px 9px 0 0;
    background-color:  var(--c-bg-primary);
  }

  form {
    background: transparent;
  }
  .form--inline {
    display: flex;
  }
  input.form-text {
    border-radius: 9px 0 0 9px;
  }
  input.form-text:placeholder {
    color: #808080;
  }
  .form-actions {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .form-submit span {
    display: none;
  }
  .form-submit {
    margin: 1rem 0 !important;
    color:  var(--c-white);
    border-radius: 0 9px 9px 0;
    background-color:  var(--c-bg-primary);
  }
  .form-submit:before {
    font-family: FontAwesome;

    content: "\f002";
  }
}
