{% extends "@stable/block/block--system-menu-block.html.twig" %}
{% set classes = classes ?? ['menu', 'navbar-end'] %}
{# Footer blocks display in columns. #}
{% if region == 'footer' %}
  {%
    set classes = classes|merge([
      'column',
      'is-narrow',
    ])
  %}
{% endif %}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('menu-label') %}
