{% extends "@ds/ds-2col-stacked.html.twig" %}
{% set attributes = attributes.addClass('columns is-multiline') %}
{%
  set header_classes = [
    'column',
    'is-12'
  ]
%}
{% set header_attributes = header_attributes.addClass(header_classes) %}
{%
  set left_classes = [
    'column',
    'is-7'
  ]
%}
{% set left_attributes = left_attributes.addClass(left_classes) %}
{%
  set right_classes = [
    'column',
    'is-5'
  ]
%}
{% set right_attributes = right_attributes.addClass(right_classes) %}
{% set middle_attributes = middle_attributes.addClass(middle_classes) %}
{%
  set footer_classes = [
    'column',
    'is-12'
  ]
%}
{% set footer_attributes = footer_attributes.addClass(footer_classes) %}