{% extends "ds-2col.html.twig" %}
{% set attributes = attributes.addClass('is-desktop') %}
{%
  set left_classes = [
    'is-12-mobile',
    'is-4-tablet',
    'is-4-desktop',
    'is-4-widescreen',
    'is-4-fullhd',
  ]
%}
{% set left_attributes = left_attributes.addClass(left_classes) %}
