{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {#{{ kint(ds_content.field_subtitle) }}#}
  <div class="columns">
    <div class="column is-7-desktop leftcol">
      <div class="columns is-multiline">
        <div class="column is-12 head">
          <div class="columns">
            <div class="column logo">
              {{ ds_content.field_image }}
            </div>
            <div class="column desc">
              {{ ds_content.node_title }}
              <h3>{{ ds_content.field_subtitle }}</h3>
              {{ ds_content.field_topics }}
              {{ ds_content.field_h4c_sustainability }}
              {{ ds_content.field_h4c_business_types }}
              {{ ds_content.field_tags }}
              {{ ds_content.field_location_reference }}
              {{ ds_content.field_h4c_location_more_info }}
              {{ ds_content.field_h4c_location_wheelchair }}
              {{ ds_content.field_h4c_email }}
              {{ ds_content.field_h4c_website }}
              {{ ds_content.field_h4c_organisations }}
              {{ ds_content.field_organisation_email }}
              {{ ds_content.field_organisation_website }}
            </div>
          </div>
        </div>
        <div class="column is-12 is-hidden-tablet gallery">
              {#{{ ds_content.field_h4c_images }}#}
        </div>
        <div class="column is-12 info">
          <h3><i class="material-icons">info_outline</i> Info</h3>
          {{ ds_content.field_summary }}
          {{ ds_content.field_body_paragraph }}
        </div>
        <div class="column is-12 events">
          <h3><i class="material-icons">event_note</i> Events</h3>
          {{ ds_content.h4c_eva_events_list }}
        </div>
        <div class="column is-12 netzwerk">
          <h3><i class="material-icons">language</i> Netzwerk</h3>
        </div>
      </div>
    </div>
    <div class="column is-5-desktop rightcol">
      <div class="columns is-multiline">
        <div class="column is-12  map">
          {{ ds_content.field_location_reference }}
        </div>
        <div class="column is-12 is-hidden-mobile gallery">
              {#{{ ds_content.field_h4c_images }}#}
        </div>
        <div class="column is-12 interesting">
          INTERESTING
        </div>
      </div>
    </div>
  </div>

</{{ ds_content_wrapper }}>
