{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}
  <div class="columns organisation-list-desc-item">
    <div class="column is-3 organisation-list-logo">
      {{ ds_content.field_image }}
    </div>
    <div class="column organisation-list-desc">
      {{ ds_content.node_title }}
      {{ ds_content.field_subtitle }}
      {{ ds_content.field_topics }}
      {{ ds_content.field_h4c_sustainability }}
    </div>
  </div>

</{{ ds_content_wrapper }}>
